html, body {
    height: 100%;
    overflow: auto;
}

div {
    height: 100%;
}

#sorting-container {
    min-height: 100%;
    height: auto;
}

.sorting-bar {
    background-color: white;
    margin-bottom: 1px;
}