html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    position: fixed;
    background-color: black;
}

#outer {
    width: 80%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: auto;
}

#outer div {
    padding: 40%;
    background-color: blue;
    color: white;
    font-size: 48px;
}

h1 {
    color: white;
}

